{% extends 'base.html' %}
{% block title %}Добро пожаловать - Markethub{% endblock %}
{% block content %}
    <h1 class="mb-4">Добро пожаловать в Markethub!</h1>
    <p>Исследуйте наши товары и магазины, чтобы найти лучшие предложения.</p>
    <a href="{% url 'products:product_list' %}" class="btn btn-primary mb-3">Посмотреть товары</a>
    {% if user.is_authenticated and user.cart.items.exists %}
        <div class="alert alert-info">
            В вашей корзине {{ user.cart.items.count }} товар(ов). 
            <a href="{% url 'orders:cart_detail' %}" class="alert-link">Перейти в корзину</a>.
        </div>
    {% endif %}
{% endblock %}
