{% extends 'base.html' %}
{% block title %}Модерация магазина {{ shop.name }}{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Модерация магазина {{ shop.name }}</h1>
        <form method="post" class="w-50">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
                <div class="text-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
        </form>
        <a href="{% url 'shops:shop_detail' pk=shop.pk %}" class="btn btn-secondary mt-3">Назад</a>
    </div>
{% endblock %}
