{% extends 'base.html' %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Редактировать профиль</h1>
        <form method="post" class="w-50">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.non_field_errors %}
                <div class="text-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
            <a href="{% url 'users:profile' %}" class="btn btn-secondary mt-3">Назад</a>
        </form>
    </div>
{% endblock %}
